* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

body {
  background-image: url(../img/auuto.jpg); }

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px; }

.divInicio {
  display: flex;
  justify-content: center; }
  .divInicio__container {
    width: 17rem;
    justify-content: center; }
    .divInicio__container--titulo {
      font-family: 'Quicksand', sans-serif;
      font-size: 2em;
      margin-top: 40px;
      margin-bottom: 30px;
      text-align: center;
      font-weight: bold; }
    .divInicio__container--subtitulo, .containerPolizas__boxH2--subtitulo, .confirmaDatos__container__texto--subtitulo {
      font-family: 'Quicksand', sans-serif;
      font-size: 1.3em;
      text-transform: uppercase;
      margin-top: 10px;
      border-bottom: solid 2px #800f2f;
      text-align: center;
      width: 193px;
      font-weight: bold; }
    .divInicio__container--img {
      width: 80px;
      height: 64px; }

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px; }
  .main__form1 {
    width: 19rem; }
    .main__form1--titulo, .containerPolizas__boxH2--segundoSub, .confirmaDatos__personaYtarjeta__form__datosTarjeta--subtitulo, .confirmaDatos__container__texto--segundoSub {
      font-family: 'Quicksand', sans-serif;
      font-size: 2em;
      text-align: center;
      font-weight: bold; }
    .main__form1--form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px; }
      .main__form1--form--label {
        font-family: 'Quicksand', sans-serif;
        font-weight: bold; }
      .main__form1--form--input, .main__form1--form--input2, .confirmaDatos__personaYtarjeta__form__datosPersonales--input {
        width: 17rem;
        margin: 2px;
        border-radius: 7px;
        border: none;
        border-left: solid 1px #800f2f;
        border-bottom: solid 2px #800f2f;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        text-align: center;
        background-color: transparent; }

.btn, .btn2, .confirmaDatos__personaYtarjeta__form__btn--estilo {
  width: 100px;
  border-radius: 10px;
  margin-top: 20px;
  border: solid 1px #800f2f;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: transparent;
  position: relative;
  left: 150px; }
  .btn:hover, .btn2:hover, .confirmaDatos__personaYtarjeta__form__btn--estilo:hover {
    background-color: #800f2f; }

.btn2 {
  height: 38px;
  margin-top: 0;
  left: 0; }

#sectionPolizas {
  display: none;
  width: 80%;
  margin-top: 50px; }

.containerPolizas {
  display: flex;
  justify-content: center; }
  .containerPolizas__boxH2 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .containerPolizas__boxH2--subtitulo {
      height: 25px; }
    .containerPolizas__boxH2--segundoSub, .confirmaDatos__personaYtarjeta__form__datosTarjeta--subtitulo {
      margin-top: 15px; }
  .containerPolizas__arrow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px; }
  .containerPolizas__flex {
    display: flex;
    justify-content: space-evenly;
    height: 19rem; }

.polizaTodoRiesgo, .polizaTercerosCompleto {
  width: 24rem;
  font-family: 'Quicksand', sans-serif;
  margin-top: 35px;
  text-align: center;
  font-weight: bold; }
  .polizaTodoRiesgo h2, .polizaTercerosCompleto h2 {
    margin-bottom: 20px;
    font-weight: bold; }

.subrayado {
  border-bottom: solid 4px #800f2f; }

.confirmaDatos__container {
  display: flex;
  justify-content: center; }
  .confirmaDatos__container__texto {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .confirmaDatos__container__texto--segundoSub {
      margin-top: 15px;
      margin-bottom: 20px;
      width: 17em; }

.confirmaDatos__personaYtarjeta__form {
  width: 100%;
  margin-top: 30px; }
  .confirmaDatos__personaYtarjeta__form__datosPersonales {
    width: 19rem;
    display: flex;
    flex-direction: column; }
    .confirmaDatos__personaYtarjeta__form__datosPersonales-2 {
      width: 19rem;
      display: flex;
      flex-direction: column; }
    .confirmaDatos__personaYtarjeta__form__datosPersonales--label {
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      font-weight: bold; }
  .confirmaDatos__personaYtarjeta__form__datosTarjeta {
    width: 30rem;
    display: flex;
    margin-top: 12px;
    margin-left: 100px; }
    .confirmaDatos__personaYtarjeta__form__datosTarjeta--subtitulo {
      display: flex;
      align-items: center; }
    .confirmaDatos__personaYtarjeta__form__datosTarjeta--input {
      border: none;
      border-bottom: solid 2px #800f2f;
      font-family: 'Quicksand', sans-serif;
      font-style: italic;
      font-weight: bold;
      width: 17rem;
      margin: 3px;
      background-color: transparent; }
  .confirmaDatos__personaYtarjeta__form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px; }
    .confirmaDatos__personaYtarjeta__form__btn--estilo {
      height: 40px;
      left: 0; }

.containerSuccess {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem; }
  .containerSuccess--animate {
    display: none; }
    .containerSuccess--animate2 {
      display: none; }
  .containerSuccess__radius {
    width: 50rem;
    height: 46rem;
    border-top: solid 48px #800f2f;
    border-right: solid 132px #800f2f;
    display: flex;
    justify-content: center;
    align-items: center; }
    .containerSuccess__radius--subtitulo {
      width: 320px; }
      .containerSuccess__radius--subtitulo-1 {
        font-size: 13rem;
        font-family: fantasy;
        text-transform: uppercase; }
    .containerSuccess__radius--parrafo {
      width: 320px;
      font-size: 3rem;
      font-family: 'Quicksand'; }

#span {
  color: #800f2f; }

#divAnimate {
  margin-top: 50px; }

#marcaAutos {
  margin-top: 9px; }

#inputMargin {
  margin-left: 30px; }

#reinicio {
  width: 115px;
  position: static; }
