// RESETEO WEB

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-image: url(../img/auuto.jpg);
}

// HEADER

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
}

// DIV PASO 1 

.divInicio{
    display: flex;
    justify-content: center;

    &__container{
        width: 17rem;
        justify-content: center;

        &--titulo{
            font-family: 'Quicksand', sans-serif;
            font-size: 2em;
            margin-top: 40px;
            margin-bottom: 30px;
            text-align: center;
            font-weight: bold;
        }
    
        &--subtitulo{
        font-family: 'Quicksand', sans-serif;
        font-size: 1.3em;
        text-transform: uppercase;
        margin-top: 10px;
        border-bottom: solid 2px #b5838d;
        text-align: center;
        width: 193px;
        font-weight: bold;
        }
    
        &--img{
            width: 80px;
            height: 64px;
        }
    }
}

// FORM DATOS PERSONALES Y DATOS VEHICULO

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;    
    margin-bottom: 25px;

    
    &__form1{
        width: 19rem;

        &--titulo{
            font-family: 'Quicksand', sans-serif;
            font-size: 2em;
            text-align: center;
            font-weight: bold;
        }

        &--form{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;

            
            &--label{
                font-family: 'Quicksand', sans-serif;
                font-weight: bold;
            }

            &--input{
                width: 17rem;
                margin: 2px;
                border-radius: 7px;
                border: none;
                border-left: solid 1px #b5838d;
                border-bottom: solid 2px #b5838d;
                font-family: 'Quicksand', sans-serif;
                text-align: center;
                background-color: transparent;
            }

            &--input2{
                @extend .main__form1--form--input;
            }
        }
    }
}

.btn{
    width: 100px;
    border-radius: 10px;
    margin-top: 20px;
    border: solid 1px #b5838d;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    background-color: transparent;
    position: relative;
    left: 150px;


    &:hover{
        background-color: #b5838d;
    }
}

.btn2{
    @extend .btn;
    height: 38px;
    margin-top: 0;
    left: 0;
}

// SECTION POLIZA TODO RIESGO Y TR COMPLETO

#sectionPolizas{
    display: none;
    width: 80%;
    margin-top: 50px;
}

.containerPolizas{
    display: flex;
    justify-content: center;

    &__boxH2{
        display: flex;
        flex-direction: column;
        align-items: center;

        &--subtitulo{
            @extend .divInicio__container--subtitulo;
            height: 25px;
        }
    
        &--segundoSub{
            @extend .main__form1--titulo;
            margin-top: 15px;
        }
    }

    &__arrow{
        display: flex;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    &__flex{
        display: flex;
        justify-content: space-evenly;
        height: 19rem;
    }
}

.polizaTodoRiesgo{
    width: 24rem;
    font-family: 'Quicksand', sans-serif;
    margin-top: 35px;
    text-align: center;
    font-weight: bold;

    & h2{
        margin-bottom: 20px;
        font-weight: bold;
    }
}

.polizaTercerosCompleto{
    @extend .polizaTodoRiesgo;
}

.subrayado{
    border-bottom: solid 4px #b5838d;
}

// PASO 3 - CONFIRMACION DE DATOS

.confirmaDatos{
    
    &__container{
    display: flex;
    justify-content: center;

        &__texto{
            width: 17rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &--subtitulo{
                @extend .divInicio__container--subtitulo;
            }

            &--segundoSub{
                @extend .main__form1--titulo;
                margin-top: 15px;
                margin-bottom: 20px;
                width: 17em;
            }
        }
    }

    &__personaYtarjeta{

        &__form{
            width: 100%;
            margin-top: 30px;

            &__datosPersonales{
                width: 19rem;
                display: flex;
                flex-direction: column;

                &-2{
                    width: 19rem;
                    display: flex;
                    flex-direction: column;
                }

                &--label{
                    font-family: 'Quicksand', sans-serif;
                    text-align: center;
                    font-weight: bold;
                }

                &--input{
                    @extend .main__form1--form--input;
                }
            }

            &__datosTarjeta{
                width: 30rem;
                display: flex;
                margin-top: 12px;
                margin-left: 100px;
                background-color: #b5838d;
                border-radius: 40px;

                &--subtitulo{
                    @extend .containerPolizas__boxH2--segundoSub;
                    display: flex;
                    align-items: center;
                }

                &--input{
                    border: none;
                    border-bottom: solid 2px #b5838d;
                    font-family: 'Quicksand', sans-serif;
                    font-style: italic;
                    font-weight: bold;
                    width: 17rem;
                    margin: 3px;
                    background-color: transparent;
                }
            }

            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 130px;

                &--estilo{
                    @extend .btn;
                    height: 40px;
                    left: 0;
                    background-color: #b5838d;
                }
            }
        }
    }
}


// PASO 4 - SUCCESS

.containerSuccess{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50rem;

    &--animate{
        display: none;
        
        &2{
            display: none;
        }
    }

    &__radius{
        width: 50rem;
        height: 46rem;
        border-top: solid 48px #ff4d6d;
        border-right: solid 132px #ff4d6d;
        display: flex;
        justify-content: center;
        align-items: center;

        &--subtitulo{
            width: 320px;

            &-1{
                font-size: 13rem;
                font-family: fantasy;
                text-transform: uppercase;
            }
        }

        &--parrafo{
            width: 320px;
            font-size: 3rem;
            font-family: 'Quicksand';
        }
    }
}

#span{
    color: #ff4d6d
}

#divAnimate{
    margin-top: 50px;
}

#marcaAutos{
    margin-top: 9px;
}

#inputMargin{
    margin-left: 30px;
}

#reinicio{
    width: 115px;
    position: static;
}
